.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.profileContainer ul {
    list-style: none;
}
.profileContainer li {
    list-style: none;
}
