development:
  adapter: async
  url: <%= ENV["REDIS_URL"] %>
  password: <%= ENV["REDIS_PASSWORD"] %>

test:
  adapter: test

production:
  adapter: redis
  url: <%= ENV["REDIS_URL"] %>
  password: <%= ENV["REDIS_PASSWORD"] %>
  channel_prefix: rails_vuejs_production
